body{
	background: blue;
}
#quoteBox{

	background: white;
	margin-top: 9%;
	margin-right: 15%;
	margin-left: 15%;
	border-radius: 2%;
	padding-bottom: 6px;
}

#twitter{
	display: inline;
}

#button{

	float: right;
	margin: auto;
	margin-right: 20px;
	
}
#twitter{
	margin-left: 10px;
}


#quoteText{
	text-align: center;
	padding-top: 6%;
	padding-bottom: 2%;
	padding-left: 2%;
	padding-right: 2%;
	font-size: 120%;
	
}

#quoteAuthor{
	text-align: right;
	padding-right: 3%;
	padding-bottom: 2%;

}